/*Variables*/
$color_1: #483D8B;
$color_2: #9370DB;
$color_3: black;
$font_family_1: 'Lato', sans-serif;
$font_family_2: 'Oswald', sans-serif;
$font_family_3: 'Handlee', cursive;
$background_color_1: #E6E6FA;