body {
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lato', sans-serif;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

h4{
    font-family: 'Handlee', cursive;
    font-size: 28px;
}

/*menu despeglabe color*/
.dropdown-item:hover{
    background-color: #E6E6FA;
    padding: 5%;
}

/*Hover sobre p*/
p:hover {
    font-size: 18px;
}

a:hover{
    color: #483D8B;
}

h5:hover{
    font-size: 22px;
    color: 	#9370DB;
}

h4:hover{
    font-size: 30px;
}
/*hover img*/
img:hover{
    opacity: 0.5;
    filter: alpha(opacity=100);
}

/*Grid*/
.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#card1 {
    display: grid;
    grid-column: 1 / 1 ;
    grid-row:  1 / 1;
}

#card2 {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#card3 {
    display: grid;
    grid-column: 3 / 3;
    grid-row: 1 / 1 ;
}

#card4{
    display: grid;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

/* Modal mapa*/
.map-container-11 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

.map-container-11 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.card1, .card2, .card3, .card4 {
    background-color:#E6E6FA;
    font-size: 18px;
} 


.btn-info:hover {
    background-color:#E6E6FA;
    color:black;
}


/*Media query version movil*/
@media screen and (max-width: 600px){
    .newsletter {
        padding-left: 1%;
    }

    .imagenCook {
        padding-top: 3%;
        width: 100%;
    }

    /*Grid indice principal*/
    .grid1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    #card1 {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        padding-bottom: 3%;
    }

    #card2 {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        padding-bottom: 3%;
    }
    
    #card3{
        grid-column: 1 / 1;
        grid-row: 3 / 4;
        padding-bottom: 3%;
    }

    #card4{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
        padding-bottom: 3%;
    }

    /*Flex receta*/
    .flex-row{
        flex-wrap: wrap;
        width: 100%;
    }

    iframe {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 450px){
    iframe {
        width: auto;
        height: auto;
    }
}